import os

class Config(object):
    SQLALCHEMY_DATABASE_URI='sqlite:///' + os.path.join(os.path.dirname(__file__), '../brender.sqlite')
    DEBUG=True
    PORT=9999
    HOST='0.0.0.0' # or 'localhost'
    TMP_FOLDER = '/tmp/'
    THUMBNAIL_EXTENSIONS = set(['png'])
