.flamenco-app
	height: 100%
	font-family: monospace

	.job-status
		flex: 0
		flex-basis: 7em

	.row-object
		min-width: 6em

	.job-priority
		flex-grow: 0.2
		min-width: 6em
	
	.job-manager
		flex-grow: 0.5
		min-width: 6em
	
	.pillar-table-row
		.job-status
			text-transform: uppercase
			background-color: $color-text-dark-secondary // fallback, gets overriden by individual status
			color: $color-text-light
			@include status-color-property(background-color, '', '')
