@import url(../css/font_flamenco.css)

$color_status-active: #337ab7

// Kept in sync with attract
$color_status-todo: lightgray
$color_status-in-progress: #fff2cc
$color_status-review: #e4f5f9
$color_status-done: #e7f5d3

body
	padding: 50px 0 0 0
	font-size: 13px
	line-height: 18px
	color: #333333
	background: #eee
	-webkit-font-smoothing: antialiased


h1, h2, h3, h4, h5, h6
	margin: 0
	font-family: 'Open Sans', sans-serif
	font-weight: normal
	color: inherit
	text-rendering: optimizelegibility


hr
	margin: 20px 0
	border: 0
	border-bottom: thin solid #ccc



.navbar-default .navbar-brand
	color: #333


#flamenco-navbar-collapse-2 .navbar-brand
	color: #666


.page-title
	text-transform: capitalize

	& small
		text-transform: none

.title-icon
	float: left
	margin: 7px 10px 0 0
	opacity: 0.8


.progress
	height: 14px
	margin-top: 3px


.progress-bar
	line-height: 13px

.progress span
	font-size: 9px

footer p
	font-size: 11px

.page-header
	border-bottom: 1px solid #CCC

h2
	font-size: 21px
	line-height: 30px


.blendfile.active
	background: #CCC

.video-container
	position: relative
	padding-bottom: 56.25%
	padding-top: 30px
	height: 0
	overflow: hidden

.video-container iframe,
.video-container object,
.video-container embed
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

.well.side-nav
	padding: 8px 0

.progress
	margin-bottom: 0

.online
	color: green

.offline
	color: red

//  --- client status -----
//
	.enabled
		color: green

	.disabled
		color: orangeRed

	.rendering
		color: dodgerBlue

	.waiting
		color: orange


#tasks-view
	display: none


#jobs-index
	padding-top: 15px

.jobs-index-table-thumbnail
	max-width: 100%
	max-height: 20px

#sidebar-body
	background-color: white

	& .nav-tabs
		margin: 10px auto

	& .nav-tabs li a,
	& .nav-tabs li a:hover
		background-color: transparent
		border: none

	& .nav-tabs li.active a
		border: none
		border-bottom: 2px solid #337ab7

#job-overview-properties
	& img
		max-width: 100%
		margin: 10px auto

table.dataTable td,
table.dataTable th
	white-space: nowrap

.table.dataTable tbody tr.active:nth-child(odd) td,
.table.dataTable tbody tr.active:nth-child(even) td,
.table.dataTable tbody tr.active:nth-child(odd) th,
.table.dataTable tbody tr.active:nth-child(even) th
	background-color: rgba($color_status-active, .9) !important


/* Labels */
.table td .label
	display: block
	font-weight: 400
	width: 90%
	font-size: 0.9em
	font-weight: 400
	line-height: 1.4em
	text-transform: capitalize
	cursor: default

.label-default
	background-color: lightgray
	border: thin solid darken(lightgray, 10%)
	color: #444

	&.active
		border: 2px dashed darken(lightgray, 15%)

.label-in-progress, .label-in_progress, .label-on_hold
	background-color: $color_status-in-progress
	border: thin solid darken($color_status-in-progress, 20%)
	color: #b86811

	&.active
		border: 2px dashed darken($color_status-in-progress, 25%)

.label-review, .label-running
	background-color: $color_status-review
	border: thin solid darken($color_status-review, 10%)
	color: #174773

	&.active
		border: 2px dashed darken($color_status-review, 25%)

.label-final, .label-completed
	background-color: $color_status-done
	border: thin solid darken($color_status-done, 10%)
	color: #38761d

	&.active
		border: 2px dashed darken($color_status-done, 15%)

.label-cbb, .label-stopped
	border: thin solid #A7CA98
	color: #38761d

	&.active
		border: 2px dashed darken(#A7CA98, 5%)

.label-danger, .label-failed
	border: thin solid crimson !important
	color: crimson !important
	font-weight: bold
	background-color: white !important

	&:hover
		opacity: 1.0 !important

	&.active
		border: 2px dashed crimson !important
