*.sublime-project
*.sublime-workspace
*.pyc
*.swp
*.bak
.DS_Store
*.sqlite
/temp/*
venv/
*.log
*.ropeproject*
config.py
/flamenco/config.py
/flamenco/server/render
/flamenco/manager/application/static/storage/*
/flamenco/server/application/static/storage/*

/flamenco/dashboard/application/templates/layout.html
/flamenco/dashboard/application/static/css/main.css
/flamenco/dashboard/node_modules/
/flamenco/dashboard/.sass-cache/
*.css.map
