*.sublime-project
*.sublime-workspace
*.pyc
*.swp
*.bak
.DS_Store
*.sqlite
.idea
/temp/
venv/
*.log
*.ropeproject*
config_local.py
docs/site/

/.cache/

/flamenco/config.py
/flamenco/server/application/config.py
/flamenco/manager/application/config.py
/flamenco/dashboard/application/config.py
/flamenco/worker/application/config.py

/flamenco/server/render
/flamenco/manager/application/static/storage/
/flamenco/server/application/static/storage/

/flamenco/dashboard/application/static/css/main.css
/flamenco/dashboard/node_modules/
/flamenco/dashboard/.sass-cache/
*.css.map

/flamenco/dashboard/application/templates/layout.html
/flamenco/dashboard/application/templates/workers/index.html
/flamenco/dashboard/application/templates/managers/index.html
/flamenco/dashboard/application/templates/managers/view.html

/flamenco/dashboard/application/templates/errors/404.html
/flamenco/dashboard/application/templates/errors/500.html

/packages/flamenco-manager-go/bin/
/packages/flamenco-manager-go/pkg/
/packages/flamenco-manager-go/src/[a-eg-z]*
/packages/flamenco-manager-go/src/flamenco-manager/flamenco-manager
/packages/flamenco-manager-go/src/flamenco-manager/flamenco-manager.yaml
/packages/flamenco-manager-go/src/flamenco-manager/test_*.json
/packages/flamenco-manager-go/src/flamenco-manager/docker/flamenco-manager
/packages/flamenco-manager-go/src/flamenco-manager/docker/flamenco-manager.yaml
/packages/flamenco-manager-go/src/flamenco-manager/docker/flamenco-manager-install-*.sh
/packages/flamenco-manager-go/src/flamenco-manager/docker/flamenco-manager-*.docker.tgz

/packages/flamenco-worker-python/flamenco_worker.egg-info/
