Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
WTForms==1.0.4
Werkzeug==0.9.3
decorator==3.4.0
gocept.cache==0.6.1
itsdangerous==0.23
netifaces==0.8
psutil==1.2.1
transaction==1.4.1
wsgiref==0.1.2
zope.exceptions==4.0.6
zope.interface==4.0.5
zope.testing==4.1.2
Flask-SQLAlchemy==1.0
requests==2.2.1
