{% extends "layout.html" %}

{% block body %}
    <h1>Add shot</h1>
    <hr>

    <form role="form" class="form-horizontal" action="{{ url_for('shots_add') }}" method=post>
      <div class="form-group">
        <label for="shot_name" class="col-sm-2 control-label">Shot name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="shot_name" id="shot_name" value="test_shot">
        </div>
      </div>

      <div class="form-group">
        <label for="filepath" class="col-sm-2 control-label">Filepath</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="filepath" id="filepath" value="">
        </div>
      </div>

      <div class="form-group">
        <label for="frame_start" class="col-sm-2 control-label">Frame start</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="frame_start" id="frame_start" value="1">
        </div>
      </div>

      <div class="form-group">
        <label for="frame_end" class="col-sm-2 control-label">Frame end</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="frame_end" id="frame_end" value="20">
        </div>
      </div>

      <div class="form-group">
        <label for="extension" class="col-sm-2 control-label">Render Format</label>
        <div class="col-sm-4">
          <select class="form-control" name="extension" id="extension" value="PNG">
            <option value="PNG">PNG</option>
            <option value="JPEG">JPEG</option>
            <option value="TGA">TGA</option>
            <option value="MULTILAYER">EXR multilayer</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="chunk_size" class="col-sm-2 control-label">Chunk size</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="chunk_size" id="chunk_size" value="2">
        </div>
      </div>

      <button type="submit" class="btn btn-default">Add Shot</button>
    </form>



{% endblock %}
