body {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    background: #ffffff url(../img/bg-main.jpg) repeat;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    /*font-family: inherit;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: inherit;
    text-rendering: optimizelegibility;
}

hr {
    margin: 18px 0;
    border: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #ffffff;
}

.page-title {
    text-transform:capitalize;
}
    .page-title small {
    text-transform: none;
    }

.title-icon {
    float: left;
    margin: 7px 10px 0 0;
    opacity: 0.8;
}

.progress {
    height: 14px;
    margin-top: 3px;
}

footer p {
    font-size: 11px;
}


.page-header {
    border-bottom: 1px solid #CCC;
}

h2 {
    font-size: 21px;
    line-height: 30px;

}


.blendfile.active {
    background: #CCC;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.well.side-nav {
    padding: 8px 0;
}


.progress {
    margin-bottom: 0;
}

.online {
    color:green;
}
.offline {
    color:red;
}

#  --- client status -----

.enabled {
    color:green;
}
.disabled {
    color:orangeRed;
}
.rendering {
    color:dodgerBlue;
}
.waiting {
    color:orange;
}
