{% extends "layout.html" %}
{% block header_scripts %}
<link href="{{ url_for('static', filename='css/jquery.treetable.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/jquery.treetable.theme.default.css') }}" rel="stylesheet">
{% endblock %}
{% block nav %}
<ul class="nav navbar-nav navbar-left">
  <span class="navbar-brand">Jobs</span>
  <li>
    <div class="btn-group navbar-btn">
      <div id="job-start" class="btn btn-default" command="start">Start</div>
      <div id="job-stop" class="btn btn-default" command="stop">Stop</div>
      <div id="job-respawn" class="btn btn-default disabled" command="respawn">Respawn</div>
      <div id="job-pause" class="btn btn-default disabled" command="pause">Pause</div>
      <div id="job-reset" class="btn btn-default" command="reset">Reset</div>
      <div id="job-archive" class="btn btn-default" command="archive">Archive</div>
    </div>
    <div class="btn-group navbar-btn">
      <div id="job-delete" class="btn btn-danger">Delete</div>
    </div>

    <div class="btn-group">
      <div id="jobs-index-table-reload" class="btn btn-default"> <i id="jobs-index-table-reload-icon" class="fl-spin4"></i> Reload</div>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#" id="jobs-index-table-load-archive">Archived Jobs</a></li>
        <li><a href="#" id="jobs-index-table-load-all">All Jobs</a></li>
      </ul>
    </div>
  </li>
</ul>
{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-8" id="tasks-view">
  <div class="row">
    <div class="col-md-12">
      <div class="btn btn-default load-jobs-index">Back</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table id="tasks-view-table" cellpadding="0" cellspacing="0" border="0" class="table table-striped" width="100%">
        <thead>
          <tr>
            <th>Key</th>
            <th>Val</th>
          </th>
        </thead>
        <tbody id="tasks-view-table-body">
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-8" id="jobs-index">
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-hover table-condensed" id="jobs" width="100%">
    <thead>
      <tr>
        <th><input class="check-all" type="checkbox"></th>
        <th>ID</th>
        <th></th>
        <th>Name</th>
        <th>Man.</th>
        <th></th>
        <th>Prio.</th>
        <th>Completion</th>
        <th>ETA</th>
        <th>Time Elapsed</th>
        <th>Time Total</th>
        <th>Status</th>
        <th>Creation Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{% endblock %}

{% block sidebar %}
<!-- Sidebar -->
<div class="col-md-4" id="sidebar-body">
  <div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#job-overview" aria-controls="job-overview" role="tab" data-toggle="tab">Overview</a></li>
      <li role="presentation"><a href="#job-details" aria-controls="job-details" role="tab" data-toggle="tab">Details</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Job Overview -->
      <div role="tabpanel" class="tab-pane active" id="job-overview">
        <!-- Container with properties like title, thumbnail and copy path button -->
        <div id="job-overview-properties"></div>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-hover table-condensed" id="tasks-index-table">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Status</th>
              <th></th>
            </th>
          </thead>
          <tbody id="tasks-index-table-body">
          </tbody>
        </table>
      </div>
      <!-- Job Details -->
      <div role="tabpanel" class="tab-pane" id="job-details">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-condensed" id="jobs-view-table">
          <thead>
            <tr>
              <th>Key</th>
              <th>Val</th>
            </th>
          </thead>
          <tbody id="jobs-view-table-body">
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
</div>

<!-- /#sidebar-wrapper -->
{% endblock %}

{% block footer_scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
{# <script src="{{ url_for('static', filename='js/ZeroClipboard.min.js') }}"></script> #}
<script src="{{ url_for('static', filename='js/jquery.treetable.js') }}"></script>

<script type="text/javascript">

  function parse_status(status) {
    var job_status_label = '<span title=' + status + ' class="label label-' + status + '"> ' + status +  ' </label>';
    return job_status_label;
  }

  function parse_manager(manager) {
    var manager_view = '';
    if (manager.logo) {
      manager_view = '<img  height="16" width="16" src="' + manager.logo + '"/>'
      manager_view += '<span class="hidden"> ' + manager.name +  ' </span>';
    } else {
      manager_view = '<span> ' + manager.name +  ' </span>';
    }

    return manager_view;
  }

  $(document).ready(function() {

    // Initialize swfPath for the ZeroClipboard, since we serve it from a CDN
    ZeroClipboard.config( { swfPath: "{{ url_for('static', filename='js/ZeroClipboard.swf') }}" } );

    // Binding for ajax event
    $(document).bind("ajaxSend", function(){
      $('#jobs-index-table-reload').toggleClass('disabled');
      $('#jobs-index-table-reload-icon').toggleClass('animate-spin');
    }).bind("ajaxComplete", function(){
      $('#jobs-index-table-reload').toggleClass('disabled');
      $('#jobs-index-table-reload-icon').toggleClass('animate-spin');
    });

    var jobsTable = $('#jobs').DataTable({
      //"bProcessing": true,
      "ajax": "{{url_for('jobs.index_json')}}",
      "iDisplayLength": 25,
      "order": [[ 12, "desc" ]],
      // "scrollX": true,

      /* Matches table markup above */
      "columns": [
      // The numbers are used for the callback below
      /*  0 */ {"data": "checkbox", "width" : "1px"},
      /*  1 */ {"data": "job_id"},
      /*  2 */ {"data": "thumbnail", "width" : "1%"},
      /*  3 */ {"data": "name"},
      /*  4 */ {"data": "manager.logo", "width" : "1%"},
      /*    */ {"data": "manager.name"},
      /*  5 */ {"data": "priority", "width" : "1%"},
      /*  6 */ {"data": "percentage_done"},
      /*    */ {"data": "time_remaining"},
      /*    */ {"data": "time_elapsed"},
      /*    */ {"data": "time_total"},
      /*  7 */ {"data": "status"},
      /*  8 */ {"data": "date_creation"},
      /*  9 */ {"data": null }
      ],
      "columnDefs": [
          {
            // Hide using the numbers above
            // This refers to the "columns" array
            "targets": [5, 7, 8, 9],
            "visible": false
          },
          {
            // This refers to the "columns" array
            "targets": [0, 2, 13],
            "sortable": false
          }
      ],

      "rowCallback": function ( row, data, index ) {
        // ID
        // $('td', row).eq(1).html('<div class="btn btn-default btn-xs copy-button" data-clipboard-text="/render/flamenco/manager_storage/1/'+ data.job_id + '/output" title="Click to copy">'+ data.job_id + '</div>');

        // Thumbnail
        $('td', row).eq(2).html('<a href="/jobs/' + data.job_id + '"> <img class="jobs-index-table-thumbnail" src="' + data.thumbnail + '"/> </a>');

        // Name
        // $('td', row).eq(3).html(data.name);

        // Manager
        $('td', row).eq(4).html(parse_manager(data.manager));

        // Priority
        // $('td', row).eq(5).html(data.priority);

        // Completion
        var progress_bar_active = '';
        if (data.status === 'running') {
          progress_bar_active = 'progress-bar-striped active';
        }
        $('td', row).eq(6).html('<div class="progress"><div class="progress-bar ' + progress_bar_active +'" role="progressbar" aria-valuenow="' + data.percentage_done + '" aria-valuemin="0" aria-valuemax="100" style="width: ' + data.percentage_done + '%;"><span class="">' + data.percentage_done + '%</span></div></div>');


        // Time elapsed
        // $('td', row).eq(7).html(data.time_elapsed);

        // Status
        $('td', row).eq(7).html(parse_status(data.status));

        // Action
        $('td', row).eq(9).html('<span class="btn btn-default btn-xs load-jobs-view" job_id="' + data.job_id + '">Details</span>');
      },

    });

    // Automatic data reload
    // setInterval( function () {
    //   jobsTable.ajax.reload( null, false ); // user paging is not reset on reload
    // }, 60000 );

    $(document).on("click", "#job-delete", function() {
      var jobs = new Array();
      var checkbox_list = $( "tbody input:checked" );
      for (var i = checkbox_list.length - 1; i >= 0; i--) {
        var checkbox = checkbox_list[i];
        jobs.push($(checkbox).val());
      };

      jobs_ids = jobs.join();

      $.post("/jobs/delete", { 'id' : jobs_ids})
      .done(function(data) {
        // we reuse the checkbox list to delete the table rows we just
        // removed in the database table
        if (checkbox_list.length == 0) {
          alert("Please select one or more jobs");
          return false;
        };
        for (var i = checkbox_list.length - 1; i >= 0; i--) {
          var checkbox = checkbox_list[i];
          jobsTable.row($(checkbox).parents('tr')).remove().draw();
        };
      });
    });

    // Custom source reload for the jobsTable (via dropdown menu)
    // View archived tasks
    $(document).on("click", "#jobs-index-table-load-archive", function() {
      jobsTable.ajax.url("{{url_for('jobs.index_json', status='archived')}}").load();
    });
    // View all tasks (except archived)
    $(document).on("click", "#jobs-index-table-load-all", function() {
      jobsTable.ajax.url("{{url_for('jobs.index_json')}}").load();
    });
    // Reload of the current source
    $(document).on("click", "#jobs-index-table-reload", function() {
      jobsTable.ajax.reload( null, false );
    });

  });

  $(document).on(
    "click",
    "#job-start, #job-stop, #job-respawn, #job-pause, #job-reset, #job-archive",
    function(){
      var jobs = new Array();

      var checkbox_list = $( "tbody input:checked" );
      for (var i = checkbox_list.length - 1; i >= 0; i--) {
        var checkbox = checkbox_list[i];
        jobs.push($(checkbox).val());
      };

      if (jobs.length == 0) {
        $.growl("Please select one or more jobs", {
          type: "warning"
        });
        return false;
      };

      job_ids = jobs.join();

      command = $(this).attr('command');
      params = { 'id' : job_ids, 'command' : command}

      $.post("/jobs/update", params)
        .done(function(data) {
          //console.log('Job ' + job_ids + ' update: ' + command);
          var table = $('#jobs').DataTable();
          for (var i = 0; i < data['id'].length; i++) {
            var row = table.row('#job_' + data['id'][i]);
            if (data['status'] === 'archived') {
              row.remove();
            } else {
              var row_data = row.data();
              row_data[9] = data['status'];
              row.data(row_data);
            }
          };
          table.draw();
          $.growl('Job ' + job_ids + ' ' + data['status']);
      });
  });

  $(document).on("click", ".check-all", function() {
    $("table input[type=checkbox]").attr('checked', $(this).is(':checked'));
  });


  function tasks_index_table_rows(data) {
    var content = '';
    $.each(data, function(i, post) {
      if (post !== null && typeof post == 'object') {
        content += '<tr><td>' + post.id + '</td>';
        content += '<td>' + post.name + '</td>';
        content += '<td>' + parse_status(post.status) + '</td>';
        content += '<td><span class="btn btn-default btn-xs load-tasks-view" task_id="' + post.id + '">View</span></td></tr>';
      }
    });
    return content;
  }


  function tasks_view_table_rows(data) {
    var content = '';
    console.log(data);
    $.each(data, function(i, post) {
      content += '<tr><td>' + i + '</td>';
      content += '<td>' + post + '</td></tr>';
      // content += '<td><span class="btn btn-default btn-xs load-tasks-view" task_id="' + post.id + '">View</span></td></tr>';
    });
    return content;
  }


  function jobs_view_table_rows(data, index_prefix) {
    index_prefix = typeof index_prefix !== 'undefined' ? index_prefix : null;
    // Recursively traverse an object and display all its properties

    var index = 1;
    var content = '';
    $.each(data, function(i, post) {
      if (index_prefix) {
        data_tt_id = index_prefix + '.' + index.toString();
        data_tt_parent_id = index_prefix;
      } else {
        data_tt_id = index.toString();
        data_tt_parent_id = null;
      }

      if (data_tt_parent_id) {
        data_tt_parent_id_tag = ' data-tt-parent-id="' + data_tt_parent_id + '"'
      } else {
        data_tt_parent_id_tag = ''
      };

      if (post !== null && typeof post == 'object') {
        content += '<tr' + data_tt_parent_id_tag + ' data-tt-id="' + data_tt_id + '"><td>' + i + '</td><td></td></tr>';
        content += jobs_view_table_rows(post, data_tt_id);
      } else {
        content += '<tr' + data_tt_parent_id_tag + ' data-tt-id="' + data_tt_id + '"><td>' + i + '</td><td>' + post + '</td></tr>';
      }
      index++;
    });
    return content;
  }

  $(document).on("click", ".load-jobs-view", function() {

    var details_button = $(this);

    // Remove 'active' class from all buttons
    $(".load-jobs-view").removeClass('active');

    // Add 'active' class and icon to the current button
    $(details_button).addClass('active');
    $(details_button).html('<i class="fl-spin4 animate-spin"></i>');

    // Load job details in the sidebar
    $.get("/jobs/" + $(this).attr('job_id') + ".json", function(data) {

      // Remove class active from rows, and add to current one
      $('#jobs').DataTable().rows('.active').nodes().to$().removeClass('active');
      $('#jobs').DataTable().row('#job_' + data['id']).nodes().to$().addClass('active');

      $("#jobs-view-table-body").html(jobs_view_table_rows(data));
      $("#jobs-view-table").treetable({expandable: true}, force=true);
      $("#tasks-index-table-body").html(tasks_index_table_rows(data.tasks));
      job_overview = '';
      job_overview += '<img class="img-responsive" src="' + data['thumbnail'] + '"/>'
      job_overview += '<h2> '+ data['job_name'] + '</h2>';
      job_overview += '<p>' + data['creation_date'] + '</p>';
      job_overview += '<p>' + data['average_time'] + '</p>';
      job_overview += '<div class="btn btn-default btn-xs copy-button" data-clipboard-text="/render/flamenco/manager_storage/1/' + data['id'] + '/output" title="Click to copy">' + data['id'] + '</div>';

      $("#job-overview-properties").html(job_overview);
      clipboard = new ZeroClipboard($('.copy-button'));

    })
    .done(function() {
      $(details_button).html('Details');
    });

  });


  $(document).on("click", ".load-tasks-view", function() {
    $.get("/tasks/" + $(this).attr('task_id') + ".json", function( data ) {
      $("#jobs-index").hide();
      $("#tasks-view").show();
      $("#tasks-view-table-body").html(tasks_view_table_rows(data));
      // $.each(data, function(i, post) {
      //   $("#tasks-view").append(post);
      // });
    });
  });

  $(document).on("click", ".load-jobs-index", function() {
    $("#jobs-index").show();
    $("#tasks-view").hide();
  });

</script>
{% endblock %}
