{% extends "layout.html" %}
{% block header_scripts %}
<link href="{{ url_for('static', filename='css/jquery.treetable.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/jquery.treetable.theme.default.css') }}" rel="stylesheet">
{% endblock %}
{% block nav %}
<ul class="nav navbar-nav navbar-left">
  <span class="navbar-brand">Jobs</span>
  <li>
    <div class="btn-group navbar-btn">
      <div id="job-start" class="btn btn-default" command="start">Start</div>
      <div id="job-stop" class="btn btn-default" command="stop">Stop</div>
      <div id="job-respawn" class="btn btn-default disabled" command="respawn">Respawn</div>
      <div id="job-pause" class="btn btn-default disabled" command="pause">Pause</div>
      <div id="job-reset" class="btn btn-default" command="reset">Reset</div>
      <div id="job-archive" class="btn btn-default" command="archive">Archive</div>
    </div>
    <div class="btn-group navbar-btn">
      <div id="job-delete" class="btn btn-danger">Delete</div>
    </div>
  </li>
</ul>
{% endblock %}

{% block body %}

<div class="col-md-8">
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-condensed" id="jobs" width="100%">
    <thead>
      <tr>
        <th width="1%"><input class="check-all" type="checkbox"></th>
        <th width="1%">ID</th>
        <th width="10%"></th>
        <th width="10%">Name</th>
        <th width="10%">Manager</th>
        <th width="10%">Priority</th>
        <th width="10%">Completion</th>
        <th width="10%">ETA</th>
        <th width="15%">Average Time</th>
        <th width="15%">Total Time</th>
        <th>Status</th>
        <th>Creation Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{% endblock %}

{% block sidebar %}
<!-- Sidebar -->
<div class="col-md-4" id="sidebar-body">
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-condensed" id="job-details-table">
    <thead>
      <tr>
        <th>Key</th>
        <th>Val</th>
      </th>
    </thead>
    <tbody id="job-details-table-body">
    </tbody>
  </table>
</div>

<!-- /#sidebar-wrapper -->
{% endblock %}

{% block footer_scripts %}
<script src="{{ url_for('static', filename='js/jquery.treetable.js') }}"></script>

<script type="text/javascript">
  $(document).ready(function() {
    var jobsTable = $('#jobs').dataTable({
      //"bProcessing": true,
      "ajax": "{{url_for('jobs.index_json')}}",
      "iDisplayLength": 25,
      "order": [[ 11, "desc" ]],
      "columnDefs": [
          {
            // We hide the total time
            "targets": [8,11],
            "visible": false
          },
          {
            "targets": [0, 2, 10],
            "sortable": false
          }
      ],
      "columns": [
      /*  0 */ {"data": "checkbox"},
      /*  1 */ {"data": "job_id"},
      /*  2 */ {"data": "thumbnail"},
      /*  3 */ {"data": "name"},
      /*  4 */ {"data": "manager"},
      /*  5 */ {"data": "priority"},
      /*  6 */ {"data": "percentage_done"},
      /*  7 */ {"data": "time_remaining"},
      /*  8 */ {"data": "time_average"},
      /*    */ {"data": "time_total"},
      /*  9 */ {"data": "status"},
      /*    */ {"data": "date_creation"},
      /* 10 */ {"data": "date_creation"},
      ],


      "createdRow": function ( row, data, index ) {
        // Thumbnail
        $('td', row).eq(2).html('<a href="/jobs/' + data.job_id + '"> <img style="width: 50px;" src="' + data.thumbnail + '"/> </a>');

        // Name
        $('td', row).eq(3).html(data.name);

        // Manager
        $('td', row).eq(4).html(data.manager);

        // Priority
        $('td', row).eq(5).html(data.priority);

        // Completion
        var progress_bar_active = '';
        if (data.status === 'running') {
          progress_bar_active = 'progress-bar-striped active';
        }
        $('td', row).eq(6).html('<div class="progress"><div class="progress-bar ' + progress_bar_active +'" role="progressbar" aria-valuenow="' + data.percentage_done + '" aria-valuemin="0" aria-valuemax="100" style="width: ' + data.percentage_done + '%;"><span class="">' + data.percentage_done + '%</span></div></div>');

        // ETA
        $('td', row).eq(7).html(data.time_remaining);

        // Average Time
        $('td', row).eq(8).html(data.time_average);

        // Status
        var job_status_label = '';
        if (data.status === 'completed') {
          job_status_label = '<span class="label label-success">' + data.status + '</label>';
        } else if (data.status === 'failed') {
          job_status_label = '<span class="label label-danger">' + data.status + '</label>';
        } else if (data.status === 'running') {
          job_status_label = '<span class="label label-primary">' + data.status + '</label>';
        } else {
          job_status_label = '<span class="label label-default">' + data.status + '</label>';
        }
        $('td', row).eq(9).html(job_status_label);

        // Action
        $('td', row).eq(10).html('<span class="btn btn-default btn-xs job-details" job_id="' + data.job_id + '">Details</span>');
      }
    });

    $(document).on("click", "#job-delete", function() {
      var jobs = new Array();
      var checkbox_list = $( "tbody input:checked" );
      for (var i = checkbox_list.length - 1; i >= 0; i--) {
        var checkbox = checkbox_list[i];
        jobs.push($(checkbox).val());
      };

      jobs_ids = jobs.join();

      $.post("/jobs/delete", { 'id' : jobs_ids})
        .done(function(data) {
          // we reuse the checkbox list to delete the table rows we just
          // removed in the database table
          if (checkbox_list.length == 0) {
            alert("Please select one or more jobs");
            return false;
          };
          for (var i = checkbox_list.length - 1; i >= 0; i--) {
          var checkbox = checkbox_list[i];
          var tableRow = $(checkbox).parents("tr");
          // make sure to treat tableRow as an array and onlu get
          // the first value (there is only one actually)
          var aPos = jobsTable.fnGetPosition( tableRow[0] );
          jobsTable.fnDeleteRow(aPos);
        };
        // console.log('Job removed from table');
      });
    });

    $(document).on(
      "click",
      "#job-start, #job-stop, #job-respawn, #job-pause, #job-reset, #job-archive",
      function(){
        var jobs = new Array();

        var checkbox_list = $( "tbody input:checked" );
        for (var i = checkbox_list.length - 1; i >= 0; i--) {
          var checkbox = checkbox_list[i];
          jobs.push($(checkbox).val());
        };

        if (jobs.length == 0) {
          $.growl("Please select one or more jobs", {
            type: "warning"
          });
          return false;
        };

        //console.log(jobs);
        job_ids = jobs.join();

        command = $(this).attr('command');
        params = { 'id' : job_ids, 'command' : command}

        $.post("/jobs/update", params)
          .done(function(data) {
            //console.log('Job ' + job_ids + ' update: ' + command);
            var table = $('#jobs').DataTable();
            for (var i = 0; i < data['id'].length; i++) {
              var row = table.row('#job_' + data['id'][i]);
              if (data['status'] === 'archived') {
                row.remove();
              } else {
                var row_data = row.data();
                row_data[9] = data['status'];
                row.data(row_data);
              }
            };
            table.draw();
            $.growl('Job ' + job_ids + ' ' + data['status']);
        });
    });

    $(document).on("click", ".check-all", function(){
      $("table input[type=checkbox]").attr('checked', $(this).is(':checked'));
    });


    function display_json(data) {
      // Recursively traverse an object and display all its properties
      var content = '<ul>';
      $.each(data, function(i, post) {
        if (post !== null && typeof post == 'object') {
          content += '<li>' + i + '</li>'+display_json(post);
        } else {
          content += '<li>' + i + " : " + post + '</li>';
        }
      });
      content += '</ul>';
      return content;
    }

    function display_table(data, index_prefix) {
      index_prefix = typeof index_prefix !== 'undefined' ? index_prefix : null;
      // Recursively traverse an object and display all its properties

      var index = 1;
      var content = '';
      $.each(data, function(i, post) {
        if (index_prefix) {
          data_tt_id = index_prefix + '.' + index.toString();
          data_tt_parent_id = index_prefix;
        } else {
          data_tt_id = index.toString();
          data_tt_parent_id = null;
        }

        if (data_tt_parent_id) {
          data_tt_parent_id_tag = ' data-tt-parent-id="' + data_tt_parent_id + '"'
        } else {
          data_tt_parent_id_tag = ''
        };

        if (post !== null && typeof post == 'object') {
          content += '<tr' + data_tt_parent_id_tag + ' data-tt-id="' + data_tt_id + '"><td>' + i + '</td><td></td></tr>';
        } else {

          content += '<tr' + data_tt_parent_id_tag + ' data-tt-id="' + data_tt_id + '"><td>' + i + '</td><td>' + post + '</td></tr>';
        }
        index++;
      });
      return content;
    }

    $(document).on("click", ".job-details", function() {
      $.get("/jobs/" + $(this).attr('job_id') + ".json", function( data ) {
          $("#job-details-table-body").html(display_table(data));
          $("#job-details-table").treetable({ expandable: true }, force=true);
        });
        if ($("#wrapper").hasClass("toggled")) {
          $("#wrapper").toggleClass("toggled");
        } else {
        }
    });


  });
</script>
{% endblock %}
