<ul class="files">
  {% if parent_folder %}
  <li><a class="folder" href="{{parent_folder}}">..</a></li>
  {% endif %}
  {% for item in items_list %}
  <li><a class="{{item[2]}}" href="{{item[1]}}">{{item[0]}}</a></li>
  {% endfor %}
</ul>


<script>
  $(document).ready(function() {

    $('#flamencoModalLabel').text('Select a blendfile');

    // Support for AJAX loaded modal window.
    // Focuses on first input textbox after it loads the window.
    $('.folder').click(function(e) {
      e.preventDefault();
      var url = '/jobs/browse/' + $(this).attr('href');
      $.get(url, function(data) {
        $('.modal-body').html(data);
      });
    });

    $('.blendfile').click(function(e) {
      e.preventDefault();
      var url = '/jobs/browse/' + $(this).attr('href');
      $(this).parent().siblings().children('a').removeClass('active');
      $(this).addClass('active');
      $('#modal_variable').val($(this).attr('href'));

    });

    $('.select-file').click(function(e) {
      e.preventDefault();
      var url = '/jobs/add';
      $.get(url, function(data) {
        $('.modal-body').html(data);
      });
      $('.modal-footer').children('.btn-primary').text('Add Job');
    });

  });

</script>
