<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flamenco 2.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.brender.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.readmore-readless.js') }}" type="text/javascript"></script>
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<!--     <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"> -->
    <link href="{{ url_for('static', filename='css/brender.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap.css') }}" rel="stylesheet">

    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57-precomposed.png">
  {% block header_scripts %}{% endblock %}
  </head>

  <body>
    {% block modal %}

    <div class="modal fade" id="brenderModal" tabindex="-1" role="dialog" aria-labelledby="brenderModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="brenderModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <input type="hidden" id="modal_variable" name="modal_variable" value="">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="$('.modal-body > form').submit();" >Submit job</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {% endblock %}
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="{{ url_for('main.index') }}">b<strong>render</strong></a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <nav class="collapse navbar-collapse" id="brender-navbar-collapse-1">
          {% block nav %}
          {% endblock %}
          <ul class="nav navbar-nav navbar-right">
            <li {% if title == 'managers': %} class="active"{% endif %}>
              <a href="{{ url_for('managers.index') }}">Managers</a>
            </li>
            <li {% if title == 'workers': %} class="active"{% endif %}>
              <a href="{{ url_for('workers.index') }}">Workers</a>
            </li>
            <li {% if title == 'jobs': %} class="active"{% endif %}>
              <a href="{{ url_for('jobs.index') }}">Jobs</a>
            </li>
            <!-- <li {% if title == 'tasks': %} class="active"{% endif %}>
              <a href="{{ url_for('main.tasks_index') }}">Tasks</a>
            </li> -->
            <li>
              <a href="#" data-toggle="modal" modal="{{ url_for('jobs.add') }}" data-target="#addJobModal">Add Job</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Server <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('settings.index') }}">Settings</a></li>
                <!-- <li><a href="{{ url_for('settings.render') }}">Render Settings</a></li> -->
                <li><a href="{{ url_for('projects.index') }}">Projects</a></li>
                <li>
                  <a href="#" data-toggle="modal" modal="{{ url_for('main.about') }}" data-target="#addJobModal">About</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav><!-- /.navbar-collapse -->
        <!-- Context specific navigation -->

      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          {% for message in get_flashed_messages() %}
          <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
            </div>
          {% endfor %}
        </div>
      </div>
      {% block body %}{% endblock %}
    </div> <!-- /container -->
      
    <div class="container-fluid">
      <hr>
      <footer>
          <p>brender 2.0 - GNU GPL 2.0 - 2010-2015</p>
      </footer>
    </div> <!-- /container -->


  {% block footer_scripts %}{% endblock %}

  <script>
  $(document).ready(function() {
    // Support for AJAX loaded modal window.
    // Focuses on first input textbox after it loads the window.
    $('[data-toggle="modal"]').click(function(e) {
      e.preventDefault();
      var url = $(this).attr('modal');
      /*
      if (url.indexOf('#') == 0) {
        $(url).modal('open');
      } else {
        $.get(url, function(data) {
          $('<div class="modal fade">' + data + '</div>').modal();
        }).success(function() {
            $('input:text:visible:first').focus();
        });
      }*/

      $.get(url, function(data) {
        $('.modal-body').html(data);
      });

      $('.modal-footer').children('.btn-primary').text('Add Job');
      $('#brenderModal').modal('show');
    });

  });

  </script>

  <script src="{{ url_for('static', filename='js/bootstrap-growl.min.js') }}"></script>


  </body>
</html>

