<form id="addJob" role="form" onsubmit="return Validate()" action="{{ url_for('jobs.add') }}" method=post>
  <input type="hidden" name="project_id" value="{{settings['active_project']}}">

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="job_type">Job Type</label>
        <select class="form-control" name="job_type" id="job_type" required="">
                <option value="simple_blender_render">Simple</option>
                <option value="tiled_blender_render">Tiled</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
        <label for="project">File</label>
        <div class="input-group">
          <input id="filepath" name="filepath" type="text" class="form-control" required="">
          <div class="input-group-btn">
            <a id="browse_filepath" type="button" class="btn btn-default">Browse</a>
          </div><!-- /btn-group -->
        </div><!-- /input-group -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <label for="job_name">Job name</label>
          <input type="text" class="form-control" id="job_name" name="job_name" placeholder="a2s31" required>
        </div>
    </div>
    <div class="col-md-6" id="col_render_settings">
        <div class="form-group">
          <label for="render_settings">Render settings</label>
          <select name="render_settings" class="form-control">
            {% for file in render_settings['settings_files'] %}
              <option value="{{file}}">{{file}}</option>
            {% endfor %}
              <option value="">File Settings</option>
          </select>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <label for="frame_start" id="label_frame_start">Frame start</label>
          <input type="text" class="form-control" id="frame_start" name="frame_start" value="1" required>
        </div>
    </div>
    <div class="col-md-4" id="col_frame_end">
        <div class="form-group">
          <label for="frame_end">Frame end</label>
          <input type="text" class="form-control" id="frame_end" name="frame_end" value="20" required="">
        </div>
    </div>
    <div class="col-md-4" id="col_chunk_size">
        <div class="form-group">
          <label for="chunk_size">Chunk size</label>
          <input type="text" class="form-control" id="chunk_size" name="chunk_size" value="5" required="">
        </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="extension">Render Format</label>
        <select class="form-control" name="format" id="format" value="PNG">
          <option value="PNG">PNG</option>
          <option value="JPEG">JPEG</option>
          <option value="TGA">TGA</option>
          <option value="MULTILAYER">EXR multilayer</option>
        </select>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <label for="managers">Managers</label>
        <select class="form-control" name="managers" id="managers" required="" multiple>
            {% for m in managers %}
                <option value="{{ m.id }}">{{ m.name }}</option>
            {% endfor %}
        </select>
      </div>
    </div>

  </div>
</form>

<script>
  function isInt(n) {
    return n != "" && Number(n) % 1 === 0;
  }

  $(document).ready(function() {
  {% if projects %}
    $('#brenderModalLabel').text('Add job for {{projects[settings['active_project']]['name']}}');
  {% else %}
    $('#brenderModalLabel').text('Error');
    $('#addJob').html('Currently no project has been created. Go to the settings section and add one.');
    $('.modal-footer').children('.btn-primary').hide();
  {% endif %}

    $('#filepath').val($('#modal_variable').val());
    var name=$('#modal_variable').val()
    name = name.replace(/.*(\/|\\)/, '');
    $('#job_name').val(name);

    $('#job_type').change(function(e) {
        if ( $('#job_type').val()=='simple_blender_render' ) {
            $('#col_render_settings').show();
            $('#col_chunk_size').show();
            $('#col_frame_end').show();
            $('#label_frame_start').html('Frame start');
        } else {
            $('#col_render_settings').hide();
            $('#col_chunk_size').hide();
            $('#col_frame_end').hide();
            $('#label_frame_start').html('Frame');
        }
    });

    $('#browse_filepath').click(function(e) {
      e.preventDefault();
      $.get('/jobs/browse/', function(data) {
        $('.modal-body').html(data);
      });

      $('.modal-footer').children('.btn-primary').text('Select');
      $('.modal-footer').children('.btn-primary').addClass('select-file');
    });

     });

 function Validate(){

        var res = true;

        var value = $("#filepath")[0].value;
        if (value == null || value == "") {

            $('#filepath').css('border', '1px solid red');
            res = false;
        }

        value = $("#job_name")[0].value;
        if (value == null || value == "") {

            $('#job_name').css('border', '1px solid red');
            res = false;
        }

        if (!isInt($('#frame_start')[0].value)) {
            $('#frame_start').css('border', '1px solid red');
            res = false;
        }

        if (!isInt($('#frame_end')[0].value)) {
            $('#frame_end').css('border', '1px solid red');
            res = false;
        }

        if (!isInt($('#chunk_size')[0].value) || Number($('#chunk_size')[0].value) <= 0) {
            $('#chunk_size').css('border', '1px solid red');
            res = false;
        }

        if ($("#managers :selected").length == 0) {
            $('#managers').css('border', '1px solid red');
            res = false;
        }


        if (!res) {
            return false;
        }
}


</script>


