| {% extends "layout.html" %}
| {% block body %}
.row
	.col-md-4.col-md-push-4
		.well.well-lg
			h1 ¡Ol&eacute;!
				small.pull-right 500 Server Error
			hr
			p.
				The server got dizzy dancing too much flamenco.

			pre.
				{{error | safe }}

			p.
				Back to:
				<a href="{{url_for('jobs.index')}}">Jobs</a>
				· <a href="{{url_for('workers.index')}}">Workers</a>
				· <a href="{{url_for('managers.index')}}">Managers</a>
				{{page}}
| {% endblock %}
