| {% extends "flamenco/errors/layout.html" %}
| {% block body %}
#error_container.standalone
	#error_box
		.error-top-container
			.error-title Project not set up for Flamenco.
		.error-lead
			p Please visit #[a(href="{{ setup_url }}") the project settings] to enable Flamenco.
| {% endblock %}
