| {% extends 'projects/edit_layout.html'  %}
| {% set title = 'flamenco' %}
| {% block page_title %}Flamenco settings for {{ project.name }}{% endblock %}

| {% block head %}
script(src="{{ url_for('static_flamenco', filename='assets/js/generated/tutti.min.js') }}")
| {% endblock %}

| {% block project_context_header %}
span#project-edit-title
	| {{ self.page_title() }}
| {% endblock %}

| {% block project_context %}
#node-edit-container
	| {% block flamenco_container %}
	| {% endblock flamenco_container %}

	.settings-footer
		p
			| New to Flamenco?
			| <a href="https://www.flamenco.io/">Learn more at flamenco.io</a>
| {% endblock project_context %}
