| {% extends 'projects/edit_layout.html'  %}
| {% set title = 'flamenco' %}
| {% block page_title %}Flamenco settings for {{ project.name }}{% endblock %}

| {% block head %}
script(src="{{ url_for('static_flamenco', filename='assets/js/generated/tutti.min.js') }}")

style.
	#flamenco-project-container {
		padding: 1ex;
	}
| {% endblock %}

| {% block project_context_header %}
span#project-edit-title
	| {{ self.page_title() }}
| {% endblock %}

| {% block project_context %}
#flamenco-project-container
	| {% block flamenco_container %}
	| {% endblock flamenco_container %}
| {% endblock project_context %}
