| {% extends 'flamenco/project_settings/flamenco_layout.html'  %}

| {% block flamenco_container %}
p Heyyyyy your project is not set up for Flamenco.
p
	button(onclick='setupForFlamenco()') Get to da choppah!

.action-result-panel

| {% endblock flamenco_container %}

| {% block footer_scripts %}
script.
	function setupForFlamenco() {
		$('.action-result-panel').html('');

		$.ajax({
			url: '{{ url_for( "flamenco.setup_for_flamenco", project_url=project.url) }}',
			method: 'POST',
		})
		.done(function() {
			window.location.reload();
		})
		.fail(function(err) {
			var err_elt = xhrErrorResponseElement(err, 'Error setting up your project: ');
			$('.action-result-panel').html(err_elt);
		});
	}
| {% endblock %}
