| {% extends 'flamenco/project_settings/flamenco_layout.html'  %}

| {% block flamenco_container %}
#node-edit-form
	p This project is not setup for Flamenco (yet!)
	p
		button.btn.btn-outline-primary.px-3(onclick='setupForFlamenco()')
			i.pr-2.pi-flamenco
			| Setup Project for Flamenco

| {% endblock flamenco_container %}

| {% block footer_scripts %}
script.
	function setupForFlamenco() {
		$.ajax({
			url: '{{ url_for( "flamenco.setup_for_flamenco", project_url=project.url) }}',
			method: 'POST',
		})
		.done(function() {
			window.location.reload();
		})
		.fail(function(err) {
			var err_elt = xhrErrorResponseElement(err, 'Error setting up your project: ');
			toastr.error(err_elt);
		});
	}
| {% endblock %}
