| {% extends "layout.html" %}
| {% block footer_scripts %}
script.
	$("#worker_refresh").click(function() {
		console.log('Button Refresh worker');
		location.reload();
	});
| {% endblock %}

| {% block body %}
.row
	.col-md-12
		.panel.panel-default
			.panel-heading
				h3.panel-title
					| {{manager['id']}}
					a#worker_refresh.glyphicon.glyphicon-refresh.pull-right(href="#")

			.panel-body
				p.
					ip_address: {{ manager['ip_address'] | default('N/A')}}
				p.
					port: {{ manager['port'] | default('N/A')}}
				p.
					id: {{ manager['id'] | default('N/A')}}
				p.
					settings: {{ manager['settings'] | default('N/A')}}

			.panel-footer
				p.pull-right
					span
						| load-average
				br.clearfix

| {% endblock %}
