| {% extends "layout.html" %}
| {% block body %}
.row
	.col-md-4.col-md-push-4
		.well.well-lg
			h1 Woops!
				small.pull-right 404 Not Found
			hr
			p.
				A flock of flamingos are on it's way to find it,
				though it might take a while.
			| {% if page %}
			p.
				{{page}}
			| {% endif %}

			p.
				Back to:
				<a href="{{url_for('jobs.index')}}">Jobs</a>
				· <a href="{{url_for('workers.index')}}">Workers</a>
				· <a href="{{url_for('managers.index')}}">Managers</a>

| {% endblock %}
