import os
import tempfile

class Config(object):
    SQLALCHEMY_DATABASE_URI='sqlite:///' + os.path.join(os.path.dirname(__file__), '../server.sqlite')
    DEBUG=True
    PORT=9999
    HOST='0.0.0.0' # or 'localhost'
    TMP_FOLDER = tempfile.gettempdir()
    THUMBNAIL_EXTENSIONS = set(['png'])
    SERVER_STORAGE = '{0}/static/storage'.format(
        os.path.join(os.path.dirname(__file__)))
