| {% extends 'flamenco/layout.html' %}
| {% block bodyattrs %}{{ super() }} data-context='task'{% endblock %}
| {% block page_title %}Tasks - {{ project.name }} {% endblock %}
| {% block flamencobody %}
#col_main
	.col_header.task-list-header
		| Tasks ({{ tasks | count }})
		a.item-project(href="{{url_for('projects.view', project_url=project.url)}}") {{ project.name }}
	.item-list.task.col-list.col-scrollable
		| {% for task in tasks %}
		a.col-list-item.task-list-item(
			id="task-{{task._id}}",
			data-task-id="{{task._id}}",
			class="status-{{ task.status }} task-link",
			href="{{ url_for('flamenco.tasks.perproject.view_task', project_url=project.url, task_id=task._id) }}")
			span.status-indicator(title="Status: {{ task.status | undertitle }}")
			| {% if task._parent_info %}
			span.shotname(title="Shot {{ task._parent_info.name }}") {{ task._parent_info.name }}
			| {% endif %}
			span.name {{ task.name }}
			span.status {{ task.status }}
		| {% endfor %}

.col-splitter

#col_right
	.col_header
		span.header_text
		#status-bar
	#item-details
		.item-details-empty
			| Select a Task
| {% endblock %}

| {% block footer_scripts %}
script.
	{% if open_task_id %}
		$(function() { item_open('{{ open_task_id }}', 'task', false); });
	{% endif %}

script(src="{{ url_for('static_flamenco', filename='assets/js/vendor/clipboard.min.js')}}")
script(src="{{ url_for('static_flamenco', filename='assets/js/vendor/jquery-resizable.min.js')}}")

script.
	$("#col_main").resizable({
		handleSelector: ".col-splitter",
		resizeHeight: false
	});

	$(window).on('load resize', function(){
		var window_height = $(window).height() - 50;
		var task_list = document.getElementById('task-list');
		$('#task-list').css({'height': window_height});
		$('#item-details').css({'height': window_height});
	});

| {% endblock %}
