.modal-help
	.modal-help-panel
		span.title Status Color Legend
		| {% for status in statuses | sort %}
		.status-debug-item
			.status-debug-item-statuses
				.light(class='status-{{ status }}')
				.regular(class='status-{{ status }}') {{ status | undertitle }}
				.dark(class='status-{{ status }}')
		| {% endfor %}
