li.tabs-flamenco(
	title="Flamenco",
	data-toggle="tooltip",
	data-placement="right")
	| {% if project %}
	a(href="{{url_for('flamenco.jobs.perproject.index', project_url=project.url, _external=True)}}")
		i.pi-flamenco
	| {% endif %}
