
{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-4 col-md-push-4">
    <div class="well well-lg">
      <h1>Woops!<small class="pull-right">404 Not Found</small></h1>
      <hr/>
      <p>
        A flock of flamingos are on it's way to find it,
        though it might take a while.
      </p>{% if page %}
      <p>{{page}}</p>{% endif %}
      <p>
        Back to:
        <a href="{{url_for('jobs.index')}}">Jobs</a>
        · <a href="{{url_for('workers.index')}}">Workers</a>
        · <a href="{{url_for('managers.index')}}">Managers</a>
        
      </p>
    </div>
  </div>
</div>{% endblock %}