
{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-4 col-md-push-4">
    <div class="well well-lg">
      <h1>¡Ol&eacute;!<small class="pull-right">500 Server Error</small></h1>
      <hr/>
      <p>
        The server got dizzy dancing too much flamenco.
        
      </p>
      <pre>{{error | safe }}
</pre>
      <p>
        Back to:
        <a href="{{url_for('jobs.index')}}">Jobs</a>
        · <a href="{{url_for('workers.index')}}">Workers</a>
        · <a href="{{url_for('managers.index')}}">Managers</a>
        {{page}}
      </p>
    </div>
  </div>
</div>{% endblock %}