body
	position: absolute // allow columns/errors to fill the whole page
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: $color-background-light

	&[data-context="dashboard"]
		nav.sidebar .navbar-item.flamenco
			+sidebar-button-active

		#col_main .col_header
			box-shadow: none
