<form id="addProject" role="form" action="{{ url_for('projects.add') }}" method=post>
<input name="project_id" type="hidden" value="{{project}}">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="name">project Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="project name" required="">
            </div>
        </div>
    </div> <!-- end project name row -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="path_server">Project path on the server</label>
                <input type="text" class="form-control" id="path_server" name="path_server" placeholder="/shared/<project_name>" required="">
            </div>
        </div>
    </div> <!-- end path server row -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="path_linux">Project path on Linux workers</label>
                <input type="text" class="form-control" id="path_linux" name="path_linux" placeholder="/local/storage/<project_name>" required="">
            </div>
        </div>
    </div> <!-- end path linux row -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="path_win">Project path on Windows workers</label>
                <input type="text" class="form-control" id="path_win" name="path_win" placeholder="/local/storage/<project_name>" required="">
            </div>
        </div>
    </div> <!-- end path windows row -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="path_osx">Project path on OSX workers</label>
                <input type="text" class="form-control" id="path_osx" name="path_osx" placeholder="/local/storage/<project_name>" required="">
            </div>
        </div>
    </div> <!-- end path osx row -->


    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="render_path_server">Shared render path on the server</label>
                <input type="text" class="form-control" id="render_path_server" name="render_path_server" placeholder="/shared/<project_name>" required="">
            </div>
        </div>
    </div> <!-- end path server row -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="render_path_linux">Shared render path on Linux workers</label>
                <input type="text" class="form-control" id="render_path_linux" name="render_path_linux" placeholder="/local/storage/<project_name>" required="">
            </div>
        </div>
    </div> <!-- end path linux row -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="render_path_win">Shared render path on Windows workers</label>
                <input type="text" class="form-control" id="render_path_win" name="render_path_win" placeholder="/local/storage/<project_name>" required="">
            </div>
        </div>
    </div> <!-- end path windows row -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="render_path_osx">Shared render path on OSX workers</label>
                <input type="text" class="form-control" id="render_path_osx" name="render_path_osx" placeholder="/local/storage/<project_name>" required="">
            </div>
        </div>
    </div> <!-- end path osx row -->

    <div class="row col-md-12">
        <div class="form-group">
            <label for="set_project_option"> Set <i id="new_project_name"></i> as active project?</label>
                <select class="form-control" name="set_project_option">
                    <option>True</option>
                    {% if projects %}
                    <option selected>False</option>
                    {% endif %}
                </select>
        </div>
    </div> <!-- end set active row -->        
    <i class="clearfix"></i>
</form>

<script>
$(document).ready(function() {
    $('#flamencoModalLabel').text('Add project');
    $('.modal-footer').children('.btn-primary').text('Add project');
    $('#name').keyup(function(){
     $('#new_project_name').text($(this).val());
  });
});
</script>
