{% extends "layout.html" %}
{% block nav %}
<ul class="nav navbar-nav navbar-left">
  <span class="navbar-brand">Settings</span>
</ul>
{% endblock %}

{% block body %}

    <form role="form" class="form-horizontal" action="{{ url_for('settings.index') }}" method=post>

      <div class="form-group">
        <label for="active_project" class="col-sm-3 control-label">Active project</label>
        <div class="col-sm-9">
          <select name="active_project" class="form-control">
            {% if not projects %}
                <option value="None">No projects</option>
            {% endif %}
            {% for project in projects %}
              <option value="{{project}}"{% if project == settings['active_project'] %}selected{% endif %}>{{projects[project]['name']}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-default">Update settings</button>
    </form>
{% endblock %}
