doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Job Depsgraph - Flamenco
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		link(href="{{ url_for('static_flamenco', filename='assets/css/vendor/vis.min.css') }}", rel="stylesheet")
		script(src="{{ url_for('static_pillar', filename='assets/js/vendor/jquery-3.1.0.min.js')}}")
		//- script(src="{{ url_for('static_flamenco', filename='assets/js/vendor/vis.min.js')}}")
		script(src="{{ url_for('static_flamenco', filename='assets/js/vendor/cytoscape.min.js')}}")
		script(src="{{ url_for('static_flamenco', filename='assets/js/vendor/cytoscape-cose-bilkent.js')}}")
		script(src="{{ url_for('static_flamenco', filename='assets/js/generated/depsgraph.min.js')}}")
		link(href="{{ url_for('static_flamenco', filename='assets/img/favicon.png') }}", rel="shortcut icon")

		style.
			html, body {
				background-color: white;
				color: black;
				margin: 0;
				padding: 0;
				font-family: Noto, Ubuntu, sans-serif;
			}
			#depsgraph {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
			}
			section {
				padding: 0.5ex 1ex;
				font-size: smaller;
				margin: 0.5ex;
				color: #888;
				border: 1px solid #888;
				float: left;
				background-color: #eee;
				box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.1);
			}
			section p {
				margin: 0;
			}
			#size_warning {
				color: #800;
				font-weight: bold;
				display: none;  // will be shown/hidden with JavaScript.
			}
			#loading {
				font-weight: bold;
			}

	body
		section
			p Left-click to focus the graph on a task.
			p Right-click to open the task in a new window.
			p#size_warning This graph is big (<span id='graphsize'></span> elements), showing the ugly-but-fast 'breadthfirst' layout.
			p#loading Loading dependency graph data...
		#depsgraph

		script.
			{% if focus_task_id %}
			focus_on_node('{{ focus_task_id }}');
			{% else %}
			focus_on_node();
			{% endif %}
