| {% extends 'flamenco/projects/view.html' %}
| {% block bodyattrs %}{{ super() }} data-context='{{ page_context }}'{% endblock %}
| {% block page_title %}Jobs - {{ project.name }}{% endblock %}

| {% block head %}
| {{ super() }}
style.
		.job-setting[data-clipboard-text] {
				cursor: pointer;
		}
| {% endblock %}

| {% block flamencobody %}
#col_main
	#col_main-overlay
		#col_main-overlay-close
			i.pi-cancel
		.col_header
			span.header_text Task Details
		#col_main-overlay-content.col-scrollable

	| <flamenco-app project-id="{{ project._id }}" {%if open_job_id %}:selected-ids=["{{ open_job_id }}"] {% endif %} id="table" context="{{ page_context }}"/>

.col-splitter

#col_right
	.col_header
		span.header_text
		#status-bar
	#item-details.col-scrollable
		.item-details-empty
			| Select a Job
			| {{ open_job_id | hide_none }}

| {% endblock %}
| {% block footer_scripts %}
script.
	{% if open_job_id %}
		$(function() { item_open('{{ open_job_id }}', 'job', false); });
	{% endif %}
	{% if open_task_id %}
		$(function() { item_open('{{ open_task_id }}', 'task', false); });
	{% endif %}

script(src="{{ url_for('static_flamenco', filename='assets/js/vendor/clipboard.min.js')}}")
script(src="{{ url_for('static_flamenco', filename='assets/js/vendor/jquery-resizable.min.js')}}")
script.
	$("#col_main").resizable({
		handleSelector: ".col-splitter",
		resizeHeight: false
	});
	// Ugly hack to make scrollable column not overflow
	// TODO: Remove this and write proper CSS!!
	let headerHeight = 85;
	$(window).on('load resize', function(){
		var window_height = $(window).height() - headerHeight;
		$('.col-scrollable').css({'height': window_height});
	});
	new Vue({el: '#table'});

| {% endblock footer_scripts %}
