<form id="addJob" role="form" action="{{ url_for('jobs.add') }}" method=post>
  <input type="hidden" name="project_id" value="{{settings['active_project']}}">

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="project">Job</label>
        <div class="input-group">
          <input id="filepath" name="filepath" type="text" class="form-control">
          <div class="input-group-btn">
            <a id="browse_filepath" type="button" class="btn btn-default">Browse</a>
          </div><!-- /btn-group -->
        </div><!-- /input-group -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <label for="job_name">Job name</label>
          <input type="text" class="form-control" id="job_name" name="job_name" placeholder="a2s31" required="">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
          <label for="render_settings">Render settings</label>
          <select name="render_settings" class="form-control">
            {% for file in render_settings['settings_files'] %}
              <option value="{{file}}">{{file}}</option>
            {% endfor %}
              <option value="">File Settings</option>
          </select>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <label for="frame_start">Frame start</label>
          <input type="text" class="form-control" id="frame_start" name="frame_start" value="1" required="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <label for="frame_end">Frame end</label>
          <input type="text" class="form-control" id="frame_end" name="frame_end" value="20" required="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <label for="chunk_size">Chunk size</label>
          <input type="text" class="form-control" id="chunk_size" name="chunk_size" value="5" required="">
        </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="extension">Render Format</label>
        <select class="form-control" name="format" id="format" value="PNG">
          <option value="PNG">PNG</option>
          <option value="JPEG">JPEG</option>
          <option value="TGA">TGA</option>
          <option value="MULTILAYER">EXR multilayer</option>
        </select>
      </div>
    </div>

  </div>
</form>

<script>
  $(document).ready(function() {
  {% if projects %}
    $('#brenderModalLabel').text('Add job for {{projects[settings['active_project']]['name']}}');
  {% else %}
    $('#brenderModalLabel').text('Error');
    $('#addJob').html('Currently no project has been created. Go to the settings section and add one.');
    $('.modal-footer').children('.btn-primary').hide();
  {% endif %}

    $('#filepath').val($('#modal_variable').val());

    $('#browse_filepath').click(function(e) {
      e.preventDefault();
      $.get('/jobs/browse/', function(data) {
        $('.modal-body').html(data);
      });

      $('.modal-footer').children('.btn-primary').text('Select');
      $('.modal-footer').children('.btn-primary').addClass('select-file');
    });

  });

</script>


