<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>brender - friendly render farm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.brender.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.brender.js') }}"></script>

    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
<!--     <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"> -->
    <link href="{{ url_for('static', filename='css/brender.css') }}" rel="stylesheet">
    
    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ url_for('index') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<?php echo(ICO); ?>/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<?php echo(ICO); ?>/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<?php echo(ICO); ?>/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="<?php echo(ICO); ?>/apple-touch-icon-57-precomposed.png">    
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ url_for('index') }}">brender</a>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li class="active"><a href="{{ url_for('index') }}">Overview</a></li>
              <li><a href="{{ url_for('workers') }}">Workers</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="span2">
          <div class="well side-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Rendering</li>
              <li {% if title == 'home': %} class="active"{% endif %}>
                <a href="{{ url_for('index') }}">Overview</a>
              </li>
              <li {% if title == 'workers': %} class="active"{% endif %}>
                <a href="{{ url_for('workers') }}">Workers</a>
              </li>
              <li {% if title == 'shots': %} class="active"{% endif %}>
                <a href="{{ url_for('shots_index') }}">Shots</a>
              </li>
              <li {% if title == 'jobs': %} class="active"{% endif %}>
                <a href="{{ url_for('jobs_index') }}">Jobs</a>
              </li>
              <li {% if title == 'add_shot': %} class="active"{% endif %}>
                <a href="{{ url_for('shots_add') }}">Add Shot</a>
              </li>
              <li class="nav-header">Stats</li>
              <li><a href="#">Server status</a></li>
              <li><a href="#">Render times</a></li>
              <li class="nav-header">Settings</li>
              <li><a href="#">Server</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Render configs</a></li>
              <li><a href="#">Logs</a></li>
              <li class="nav-header">Development</li>
              <li {% if title == 'sandbox': %} class="active"{% endif %}>
                <a href="{{ url_for('sandbox') }}">Sandbox</a>
              </li>
            </ul>
          </div>
      </div>
      <div class="span10">
        {% for message in get_flashed_messages() %}
          <div class=flash>{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}


      </div>
    </div>
    <hr>
    <footer>
        <p>brender 2.0 is distributed under GPL 2.0 license and was originally developed by Olivier Amrein and Francesco Siddi.</p>
    </footer>

  </div> <!-- /container -->
  
  {% block footer_scripts %}{% endblock %}   

  </body>
</html>

