<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>brender - friendly render farm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.brender.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.readmore-readless.js') }}" type="text/javascript"></script>
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
<!--     <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"> -->
    <link href="{{ url_for('static', filename='css/brender.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap.css') }}" rel="stylesheet">

    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    {% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="addShotModal" tabindex="-1" role="dialog" aria-labelledby="addShotModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="addShotModalLabel">Add Shot</h4>
          </div>
          <div class="modal-body">

            <form id="addShot" role="form" action="{{ url_for('shots_add') }}" method=post>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="shot_name">Shot name</label>
                      <input type="text" class="form-control" id="shot_name" name="shot_name" placeholder="a2s31" required="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="filepath">Filepath</label>
                      <input type="text" class="form-control" id="filepath" name="filepath" placeholder="/tmp/untitled.blend" required="">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="frame_start">Frame start</label>
                      <input type="text" class="form-control" id="frame_start" name="frame_start" value="1" required="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="frame_end">Frame end</label>
                      <input type="text" class="form-control" id="frame_end" name="frame_end" value="20" required="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="chunk_size">Chunk size</label>
                      <input type="text" class="form-control" id="chunk_size" name="chunk_size" value="5" required="">
                    </div>
                </div>
              </div>
            </form>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="$('.modal-body > form').submit();" >Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endblock %}

    <header class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">b<strong>render</strong></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="modal" data-target="#addShotModal">Add Shot</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </nav><!-- /.navbar-collapse -->
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-md-2">

              <div class="list-group">
                <a href="{{ url_for('index') }}" class="list-group-item {% if title == 'home': %} active{% endif %}">Overview</a>
                <a href="{{ url_for('workers') }}" class="list-group-item {% if title == 'workers': %} active{% endif %}">Workers</a>
                <a href="{{ url_for('shots_index') }}" class="list-group-item {% if title == 'shots': %} active{% endif %}">Shots</a>
                <a href="{{ url_for('jobs_index') }}" class="list-group-item {% if title == 'jobs': %} active{% endif %}">Jobs</a>
                <a href="{{ url_for('shots_add') }}" class="list-group-item {% if title == 'add_shot': %} active{% endif %}">Add Shot</a>
              </div>


            <div class="panel panel-default">
              <div class="panel-heading">Stats</div>
              <!-- List group -->
              <div class="list-group">
                <a href="{{ url_for('status') }}" class="list-group-item {% if title == 'server_status': %} active{% endif %}" >Server status</a>

              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">Configuration</div>
              <!-- List group -->
              <div class="list-group">
                <a href="{{ url_for('settings') }}" class="list-group-item {% if title == 'settings': %} active{% endif %}">Server</a>
                <a href="#" class="list-group-item">Projects</a>
                <a href="#" class="list-group-item">Render Configs</a>
                <a href="{{ url_for('log') }}" class="list-group-item {% if title == 'logs': %} active{% endif %}">Logs</a>
                <a href="{{ url_for('sandbox') }}" class="list-group-item {% if title == 'sandbox': %} active{% endif %}">Sandbox</a>
              </div>
            </div>

        </div>
        <div class="col-md-10">
          {% for message in get_flashed_messages() %}
            <div class="alert">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
            </div>
          {% endfor %}
          {% block body %}{% endblock %}


        </div>
      </div>
      <hr>
      <footer>
          <p>brender 2.0 is distributed under GPL 2.0 license and was originally developed by Olivier Amrein and Francesco Siddi.</p>
      </footer>

    </div> <!-- /container -->

  {% block footer_scripts %}{% endblock %}

  </body>
</html>

