{% extends "layout.html" %}
{% block body %}
    <h1>Log</h1>
    <hr>
    <div class="row">
        <form action="/log/" method="POST">
            <div class="input-group span2">
                <select name="log_files" class="form-control">
                    {% for file in log_files  %}
                        <option value="{{file}}" {% if file in request.form['log_files'] %}selected="selected"{% endif %}  >{{file}}</option>
                    {% endfor %}
                </select>
                <span class="input-group-btn">
                <button type="submit" class="btn btn-default">View Log</button>
                </span>
            </div>
        </form>
    </div>
    <div id="log">
        <hr>
        {% for line in lines %}
            <p>{{ line }}</p>
        {% endfor %}
        {% if lines %}
        <hr>
        {% endif %}
    </div>

{% endblock %}
