{% extends "layout.html" %}

{% block body %}
	<form class="form-horizontal" action="{{ url_for('settings') }}" method=post>
		<fieldset>

		<!-- Form Name -->
		<legend>{{title}}</legend>

		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="blender_path_linux">Blender path Linux</label>
		  <div class="controls">
		    <input id="blender_path_linux" name="blender_path_linux" type="text" value="{{settings['blender_path_linux']}}" class="input-xlarge" required="">
		  </div>
		</div>

		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="blender_path_osx">Blender path OSX</label>
		  <div class="controls">
		    <input id="blender_path_osx" name="blender_path_osx" type="text" value="{{settings['blender_path_osx']}}" class="input-xlarge" required="">
		    
		  </div>
		</div>

		<!-- Button -->
		<div class="control-group">
		  <label class="control-label" for="submit"></label>
		  <div class="controls">
		    <button id="submit" class="btn btn-default">Update settings</button>
		  </div>
		</div>

		</fieldset>
	</form>

{% endblock %}
