{% extends "layout.html" %}

{% block body %}

    <h1>{{title}}</h1>
    <hr>
    <form role="form" class="form-horizontal" action="{{ url_for('settings') }}" method=post>
      
      <div class="form-group">
        <label for="blender_path_linux" class="col-sm-3 control-label">Shared Blender path Linux</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="blender_path_linux" id="blender_path_linux" value="{{settings['blender_path_linux']}}">
        </div>
      </div>

      <div class="form-group">
        <label for="render_settings_path_linux" class="col-sm-3 control-label">Shared Config path Linux</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="render_settings_path_linux" id="render_settings_path_linux" value="{{settings['render_settings_path_linux']}}">
        </div>
      </div>

      <div class="form-group">
        <label for="blender_path_osx" class="col-sm-3 control-label">Shared Blender path OSX</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="blender_path_osx" id="blender_path_osx" value="{{settings['blender_path_osx']}}">
        </div>
      </div>

      <div class="form-group">
        <label for="render_settings_path_osx" class="col-sm-3 control-label">Shared Config path OSX</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="render_settings_path_osx" id="render_settings_path_osx" value="{{settings['render_settings_path_osx']}}">
        </div>
      </div>

      <div class="form-group">
        <label for="active_show" class="col-sm-3 control-label">Active show</label>
        <div class="col-sm-9">
          <select name="active_show" class="form-control">
            {% for show in shows %}
              <option value="{{show}}"{% if show == settings['active_show'] %}selected{% endif %}>{{shows[show]['name']}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-default">Update settings</button>
    </form>
{% endblock %}
