{% extends "layout.html" %}
{% block footer_scripts %}
<script>
$('[data-toggle="popover"]').popover({
    html: true,
    trigger: 'click',
    'placement': 'top',
    container: 'body',
    animation: true
});
</script>
{% endblock %}
{% block body %}
  <h1 class="pull-left page-title">{{title}}</h1>
  <a href="#" class="btn btn-success pull-right" data-toggle="modal" modal="{{ url_for('shows_add') }}" data-target="#addShowModal">Add Show</a>
  <div class="clearfix"></div>
  <hr>
  {% for show in shows %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% if show == settings['active_show'] %}<span class="glyphicon glyphicon-bookmark"></span>{% endif %} {{shows[show]['name']}}
                <a id="pop-{{show}}" 
                    href="#" 
                    class="glyphicon glyphicon-remove pull-right" 
                    data-toggle="popover",
                    title="<p class='text-danger'>Delete {{shows[show]['name']}}?</p>"
                data-content="
                    <a onclick=&quot;$('#pop-{{show}}').popover('hide');&quot; class='btn btn-default'>Close</a>
                    &nbsp;
                    <a href='/shows/delete/{{ show }}' class='btn btn-danger'>Delete</a>"
                ></a>
				<div class="clearfix"></div>
            </h3>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form" method="post" action="{{ url_for('shows_update') }}">
            <input name="show_id" type="hidden" value="{{show}}">
            <div class="form-group">
              <label for="path_server" class="col-sm-2 control-label">Path Server</label>
              <div class="col-sm-10">
                  <input name="path_server" type="text" class="form-control" value="{{shows[show]['path_server']}}">
              </div>
            </div>
            <div class="form-group">
              <label for="path_linux" class="col-sm-2 control-label">Path Linux</label>
              <div class="col-sm-10">
                  <input name="path_linux" type="text" class="form-control" value="{{shows[show]['path_linux']}}">
              </div>
            </div>
            <div class="form-group">
              <label for="path_osx" class="col-sm-2 control-label">Path OSX</label>
              <div class="col-sm-10">
                  <input name="path_osx" type="text" class="form-control" value="{{shows[show]['path_osx']}}">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
